.congrats_balance_progress {
    -webkit-animation: congrats 3s infinite ease-in-out .8s alternate;
            animation: congrats 3s infinite ease-in-out .8s alternate;
    display: inline-block;
    transition: 1.5s ease-in-out;
    width: 180px;
    height: 180px;
    margin-top: 15px;
    position: absolute;
}

.congrats_sales_plan_progress {
  -webkit-animation: congrats 3s infinite ease-in-out .8s alternate;
          animation: congrats 3s infinite ease-in-out .8s alternate;
  background: url(/images/congrats.svg?7c17644158212485ad004b6b10dab1c3) no-repeat center center / 180px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 180px;
  height: 180px;
  margin-top: 15px;
  position: absolute;
}
   
@-webkit-keyframes congrats {
    0% {
      transform:translate(0, 0) rotate(-7deg);
    }
    50% {
      transform:translate(0, -7px) rotate(0deg);
    }
    100% {
      transform:translate(0, 0) rotate(7deg);
    }
}
   
@keyframes congrats {
    0% {
      transform:translate(0, 0) rotate(-7deg);
    }
    50% {
      transform:translate(0, -7px) rotate(0deg);
    }
    100% {
      transform:translate(0, 0) rotate(7deg);
    }
}
