body {
    /* 画像指定、imagesというフォルダ(ＣＳＳと同じ位置に作ったフォルダ)に入っている*/
    background-image: url(image/WARM_Office_1.jpg);
    /* 画像を常に上下左右の中央に配置させる */
    background-position: center center; 
    /* 画像を繰り返し表示しない */
    background-repeat: no-repeat;  
    /* ページなどのコンテンツの高さが画像の高さより大きい時動に固定する */
    background-attachment: fixed; 
    /* 画面、ブラウザのサイズに基づいて、背景画像を調整 */
    background-size: cover;  
    /* 背景画像が表示されるまでの間に表示される(待機中に表示される)背景のカラー */
    background-color: #000000; 
}